# This file is auto updated by dependabot
lintrunner-adapters>=0.14.0
# RUFF, RUFF-FIX
ruff==0.15.16
# MYPY
mypy==2.1.0
types-PyYAML==6.0.12.20260518
# EDITORCONFIG-CHECKER
editorconfig-checker==3.6.1
